<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name ="cn" connectionString="Server = sql10.freesqldatabase.com; User ID = sql10487119; Password=smjpMT3TBH;Database=sql10487119;Convert Zero Datetime=True;ConnectionTimeout=0;DefaultCommandTimeout=0;Pooling=false"/>
	</connectionStrings>
</configuration>